<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- This will specify our Node.js application start file -->
    <handlers>
      <add name="iisnode" path="api/server/index.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- URL rewrite rules for Node.js application -->
    <rewrite>
      <rules>
        <!-- Rule for static files -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(client|images|css|js|fonts|favicon\.ico)" />
          <action type="None" />
        </rule>
        
        <!-- Rule for API routes -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^api/server/index.js\/debug[\/]?" />
        </rule>
        
        <!-- All requests go to Node.js app -->
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="api/server/index.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configure static content serving -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    
    <!-- Security settings -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" maxUrl="4096" maxQueryString="2048" />
      </requestFiltering>
    </security>
    
    <!-- Error handling -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- IIS node configuration -->
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="node"
      interceptor="iisnode/interceptor.js"
      asyncCompletionThreadCount="0"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="3"
      namedPipeConnectionRetryDelay="2000"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="web.config;*.js"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectoryNameSuffix="logs"
      debuggingEnabled="false"
      debugHeaderEnabled="false"
      debugPortRange="5058-6058"
      debugPortMin="5058"
      debugPortMax="6058"
      maxLogFileSizeInKB="128"
      appendToExistingLog="false"
      logFileFlushInterval="5000"
      flushResponse="false"
      enableXFF="true"
    />
  </system.webServer>
</configuration>